__pycache__/
*.egg-info
env
*.png
conan.lock
*.tiff
.DS_Store
graph_info.json
old
build
_build
*.swp
*.so
*.py[cod]
src/pycimg.cpp
src/pycimg_*.pyx
conanbuildinfo*
conaninfo*
test-results/
cover/
dist/
node_modules/
package-lock.json
coverage.xml
.coverage

