language: python

matrix:
  include:
    - sudo: required
      services:
        - docker
      env: PIP=pip
    - os: osx
      language: generic
      env: PIP=pip2

env:
  global: 
    - TWINE_USERNAME=d0m3nik
    
script:
  - $PIP install cibuildwheel==0.10.0
  - export CIBW_BEFORE_BUILD="echo before build executed."
    #"pip install requirements_dev.txt && conan install . --build missing"
  - cibuildwheel --output-dir wheelhouse
