matrix:
  include:
    - os: linux
      dist: trusty
      language: generic
      sudo: required
      services:
        - docker
      env: DOCKER_IMAGE=d0m3nik/cython-primary:0.0.7
    - os: osx
      osx_image: xcode9
      language: python
      python: "3.5"
      sudo: required
    - os: osx
      osx_image: xcode9
      language: python
      python: "3.6"
      sudo: required
    # - os: osx
    #   osx_image: xcode7.3
    #   language: generic
    #   sudo: required
    # - os: osx
    #   osx_image: xcode6.4
    #   language: generic
    #   sudo: required

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then docker pull $DOCKER_IMAGE; fi

script:
  - ./build_travis.sh
  - ls dist/
