language: python

cache:
  directories:
    - /root/.conan/data
    - $HOME/.cache/pip

matrix:
  include:
    #- sudo: required
    #  services:
    #    - docker
    #  env:
    #    - PIP=pip
    #    - CIBW_BUILD="cp35-*"
    #- sudo: required
    #  services:
    #    - docker
    #  env:
    #    - PIP=pip
    #    - CIBW_BUILD="cp36-*"
    - sudo: required
      services:
        - docker
      env:
        - PIP=pip
        - CIBW_BUILD="cp37-*"
    - sudo: required
      services:
        - docker
      env:
        - PIP=pip
        - CIBW_BUILD="cp38-*"
    - os: osx
      language: generic
      env: PIP=pip2

env:
  global: 
    - TWINE_USERNAME=d0m3nik
    - CIBW_BEFORE_BUILD_LINUX="yum install -y libffi-devel openssl-devel &&  pip install -r requirements_dev.txt && conan install . --build missing"
    - CIBW_BEFORE_BUILD_MACOS="pip install -r requirements_dev.txt && conan install . --build missing"
    - CIBW_SKIP="cp27-*"
    - CIBW_MANYLINUX1_X86_64_IMAGE=manylinux2014
    - CIBW_MANYLINUX1_I686_IMAGE=manylinux2014
    - CIBW_TEST_REQUIRES=nose
    - CIBW_TEST_COMMAND="nosetests {project}/test"
 
script:
  - $PIP install cibuildwheel==1.1.0
  - $PIP install cython
  - python generate.py
  - cibuildwheel --output-dir wheelhouse
  - |
    if [[ $TRAVIS_TAG ]]; then
      python -m pip install twine
      python -m twine upload wheelhouse/*.whl
    fi
