language: python

matrix:
  include:
    - sudo: required
      services:
        - docker
      env: PIP=pip
    - os: osx
      language: generic
      env: PIP=pip2

env:
  global: 
    - TWINE_USERNAME=d0m3nik
    - CIBW_BEFORE_BUILD="pip install -r requirements_dev.txt && conan install . --build missing"
    - CIBW_SKIP: "cp27-*"
    - CIBW_MANYLINUX1_X86_64_IMAGE: d0m3nik/manylinux1_x86_64_cmake:0.0.1
    - CIBW_MANYLINUX1_I686_IMAGE: d0m3nik/manylinux1_i686_cmake:0.0.1
    - CIBW_TEST_REQUIRES: nose
    - CIBW_TEST_COMMAND: 'nosetests {project}/test'
  matrix:
    - CIBW_BUILD="cp34-*"
    - CIBW_BUILD="cp35-*"
    - CIBW_BUILD="cp36-*"
    - CIBW_BUILD="cp37-*"
 
script:
  - $PIP install cibuildwheel==0.10.0
  - $PIP install cython
  - python generate.py
  - cibuildwheel --output-dir wheelhouse
  - |
    if [[ $TRAVIS_TAG ]]; then
      python -m pip install twine
      python -m twine upload wheelhouse/*.whl
    fi
