cache:
  - C:\Users\appveyor\.conan\data

environment:
  global:
    TWINE_USERNAME: d0m3nik
    CIBW_BEFORE_BUILD: "pip install -r requirements_dev.txt && python install_conan_packages.py"
    CIBW_SKIP: "cp27-*"
    CIBW_TEST_REQUIRES: nose
    CIBW_TEST_COMMAND: "nosetests {project}\\test"
  matrix:
    - CIBW_BUILD: "cp34-*"
    - CIBW_BUILD: "cp35-*"
    - CIBW_BUILD: "cp36-*"
    - CIBW_BUILD: "cp37-*"
    - CIBW_BUILD: "cp38-*"

build_script:
  - pip install cython
  - python generate.py
  - pip install cibuildwheel==0.10.0
  - cibuildwheel --output-dir wheelhouse
  - >
    IF "%APPVEYOR_REPO_TAG%" == "true"
    (
    python -m pip install twine
    &&
    python -m twine upload wheelhouse/*.whl
    )

artifacts:
  - path: "wheelhouse\\*.whl"
    name: Wheels
