on: 2
jobs:
  build_linux:
    docker:
      - image: d0m3nik/cython-primary:0.0.7

    working_directory: ~/repo

    steps:
      - checkout
      - run: ./build_circleci.sh 
      - store_artifacts:
          path: /tmp/dist
          destination: dist 
      - store_artifacts:
          path: /tmp/test-report
          destination: test-results 
      - store_artifacts:
          path: /tmp/cover
          destination: cover

  build_macos:
    macos:
      xcode: "9.0"

    working_directory: ~/repo

    steps:
      - run:
          name: Install Homebrew Dependencies
          command: brew install autoconf automake libtool nasm
      - run:
          name: Install python
          command: brew install python3
      - run:
          name: Install python dependencies
          command: pip3 install -r requirements_dev.txt
      - checkout
      - run: ./build_circleci.sh     
      - store_artifacts:
          path: /tmp/dist
          destination: dist

workflows:
  version: 2
  build_all:
    jobs:
      - build_linux
      - build_macos
